@model MarketplaceWebApplication.Data.Identity.User

@{
    ViewData["Title"] = "Сторінка продавця";
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div style="width: 100%; height: 70%;">
            <h5 class="card-title">@Html.DisplayFor(model => model.UserName)</h5><hr />
            <p class="card-text">Ім'я: @Html.DisplayFor(model => model.FirstName)</p><hr />
            <p class="card-text">Прізвище: @Html.DisplayFor(model => model.LastName)</p><hr />
            <p class="card-text">Дата народження: @Html.DisplayFor(model => model.DateOfBirth)</p><hr />
            <p class="card-text">Електронна пошта: @Html.DisplayFor(model => model.Email)</p><hr />
            <p class="card-text">Номер телефону: @Html.DisplayFor(model => model.PhoneNumber)</p><hr />
            <p class="card-text"><small class="text-body-secondary">Зареєстрований @Html.DisplayFor(model => model.DateOfRegistration) </small></p>
            <a asp-action="EditUserInfo" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати дані</a> |
            <a asp-controller="Offers" asp-action="MainPageView" class="btn btn-primary">Назад</a>
        </div>
    </div>
</div>

