@model IEnumerable<MarketplaceWebApplication.Data.SavedOffer>

@{
    ViewData["Title"] = "Пропозиції";

    if (String.IsNullOrEmpty(ViewBag.SearchWord))
    {
        ViewBag.SearchWord = "";
    }
}

@if (Model.Count() == 0 && String.IsNullOrEmpty(ViewBag.SearchWord))
{
    <h1>Ви поки-що не зберегли жодної пропозиції</h1>
}
else
{
    <h1>Ваші збережені пропозиції</h1>
    <form asp-action="Index" asp-controller="SavedOffers" method="get">
        <label for="Text" class="control-label">Пошук</label>
        <input name="searchWord" class="form-control" value="@ViewBag.SearchWord" />
        <button type="submit" class="btn btn-primary" style="margin: 5px;">Шукати</button>
    </form>
    if (Model.Count() == 0)
    {
        <h1>Нічого не знайдено</h1>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Назва
                    </th>
                    <th>
                        Ціна (в грн)
                    </th>
                    <th>
                        Фото
                    </th>
                    <th>
                        Час створення
                    </th>
                    <th>
                        Кількість в наявності
                    </th>
                    <th>
                        Категорія
                    </th>
                    <th>
                        Рейтинг
                    </th>
                    <th>
                        Продавець
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Price)
                        </td>
                        @if (item.Offer.Photo != null && item.Offer.Photo.Length > 0)
                        {
                            string base64String = Convert.ToBase64String(item.Offer.Photo);
                            <td>
                                <img src="data:image;base64,@base64String" alt="Photo" style="width:100px; height:auto;" />
                            </td>
                        }
                        else
                        {
                            <td>
                                Фото відсутнє
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.TimeAdded)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.ItemAmount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Category.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Offer.Seller.Username)
                        </td>
                        <td>
                            <a asp-controller="Offers" asp-action="Details" asp-route-id="@item.Offer.Id" class="btn btn-primary" style="margin: 5px;">Деталі</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Видалити</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
