@model IEnumerable<MarketplaceWebApplication.Data.OrderItem>

@{
    ViewData["Title"] = "Замовлення клієнтів";
    if (String.IsNullOrEmpty(ViewBag.SearchWord))
    {
        ViewBag.SearchWord = "";
    }
}

<h2 style="text-align:center">Замовлення клієнтів</h2>

@if (Model.Count() == 0 && String.IsNullOrEmpty(ViewBag.SearchWord))
{
    <h3 style="text-align:center">У Вас поки-що нічого не замовили</h3>
}
else
    {
    <hr />
    <label for="Text" class="control-label" style="margin-right: 10px;">Пошук</label>
    <form asp-action="Clients" asp-controller="OrderItems" method="get" style="display: flex; align-items: center;">
        <input name="searchWord" class="form-control" value="@ViewBag.SearchWord" style="margin-right: 10px;" />
        <button type="submit" class="btn btn-primary">Шукати</button>
    </form>
    <hr />
    if (Model.Count() == 0)
    {
        <h1>Нічого не знайдено</h1>
    }
    else
    {
        <div class="row row-cols-1 row-cols-md-3 g-4">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card" style="width: 25rem;">
                        @if (item.Offer.Photo != null && item.Offer.Photo.Length > 0)
                        {
                            string base64String = Convert.ToBase64String(item.Offer.Photo);
                            <img src="data:image;base64,@base64String" class="card-img-top" alt="Photo" />
                        }
                        else
                        {
                            <div class="card-img-top" style="background-color: #f0f0f0; height: 200px;"></div>
                        }
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Offer.Name)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Price) грн</p>
                            <p class="card-text" style="font-size: smaller;">Доступно @Html.DisplayFor(modelItem => item.Offer.ItemAmount) шт.</p>
                            <p class="card-text">Номер замовлення: @Html.DisplayFor(modelItem => item.OrderId)</p>
                            <p class="card-text"><a href="@Url.Action("SellerPage", "Account", new { userId = item.Order.CustomerId })">@Html.DisplayFor(modelItem => item.Order.Customer.Username)</a></p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="@Url.Action("Details", "OrderItems", new { id = item.Id })" class="btn btn-primary mt-auto w-100">Деталі</a>
                            </li>
                            <li class="list-group-item">
                                <a href="@Url.Action("Edit", "OrderItems", new { id = item.Id })" class="btn btn-primary mt-auto w-100">Редагувати</a>
                            </li>
                            <li class="list-group-item">
                                <a href="@Url.Action("Delete", "OrderItems", new { id = item.Id })" class="btn btn-danger mt-auto w-100">Відмінити</a>
                            </li>
                        </ul>
                        <div class="card-body">
                            <p class="card-text">Створено @item.Order.DateOfOrder.Date.ToString("dd.MM.yyyy")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        var maxHeight = 0;
        $('.card').each(function () {
            var cardHeight = $(this).height();
            if (cardHeight > maxHeight) {
                maxHeight = cardHeight;
            }
        });
        $('.card').height(maxHeight);
    });
</script>