@model IEnumerable<MarketplaceWebApplication.Data.Notification>

@{
    ViewData["Title"] = "Повідомлення";
}

<h1>Ваші повідомлення</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Загаловок
            </th>
            <th>
                Текст
            </th>
            <th>
                Час створення
            </th>
            <th>
                Тип
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class.Name)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
