@model IEnumerable<MarketplaceWebApplication.Data.Feedback>
@using Microsoft.AspNetCore.Http
@using MarketplaceWebApplication.Extensions
@using MarketplaceWebApplication.Models
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Відгуки";
    var userInfo = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetails>("UserDetails");
    int offerId = ViewBag.OfferId;
}

<h3 style="text-align:center">Відгуки</h3>

@foreach (var item in Model)
{
    <div class="card">
        <h5 class="card-header">@item.User.Username</h5>
        <div class="card-body">
            <h5 class="card-title">@item.Rating / 5</h5>
            <p class="card-text">@item.Text</p>
            <p class="card-text">@item.TimeAdded</p>
            @if (userInfo is not null && userInfo.Id == item.UserId)
            {
                <a href="@Url.Action("Delete", "Feedbacks", new { id = item.Id })" class="btn btn-danger">Видалити</a>
            }
        </div>
    </div>
    <hr />
}

<var>
    <a asp-controller="Offers" asp-action="MainPageView" class="btn btn-primary">Назад</a>
</var>
