@model IEnumerable<MarketplaceWebApplication.Data.Feedback>

@{
    ViewData["Title"] = "Відгуки";
}

<h1>Відгуки</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Оцінка
            </th>
            <th>
                Вміст
            </th>
            <th>
                Час створення
            </th>
            <th>
                Користувач
            </th>
            <th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Username)
            </td>
            @if (item.UserId == ViewBag.UserId)
            {
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Видалити</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
