@model IEnumerable<MarketplaceWebApplication.Data.Order>

@{
    ViewData["Title"] = "Замовлення";
}
{
    <h1>Замовлення</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата замовлення
                </th>
                <th>
                    Коментар
                </th>
                <th>
                    Спосіб оплати
                </th>
                <th>
                    Статус
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentMethod.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Id)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Деталі</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary" style="margin: 5px;">Видалити</a>
            </td>
                </tr>
    }
        </tbody>
    </table>
}
