@model MarketplaceWebApplication.Data.User

@{
    ViewData["Title"] = "Особистий кабінет";
}

<h1>Кабінет</h1>

<div>
    <h4>Користувача</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Логін
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class = "col-sm-2">
            Ім'я
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            Прізвище
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Дата народження
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            Електронна пошта
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Дата реєстрації
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegistration)
        </dd>
        <dt class = "col-sm-2">
            Номер телефону
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Редагувати дані</a> |
    <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-primary">Видалити акаунт</a> |
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
