@model IEnumerable<MarketplaceWebApplication.Data.User>

@{
    ViewData["Title"] = "Список користувачів";
}

<h5>Статистика товарів по користувачам</h5>

<div class="row">
    <div class="col-3">
        <div id="countByUsersChart"></div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript"
            src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);
        function drawCharts() {
        fetch(`/api/charts/countOffersByUsers`)
            .then(response => response.json())
            .then(data => {
                const dataTable = new google.visualization.DataTable();
                dataTable.addColumn('string', 'Id користувача');
                dataTable.addColumn('number', 'Кількість');

                data.forEach(item => {
                    dataTable.addRow([item.cat, item.count]);
                });

                const options = {
                    title: 'Кількість товарів за користувачами',
                    width: 1400,
                    height: 400,
                    legend: { position: 'none' },
                };

                const chart = new google.visualization.ColumnChart(document.getElementById('countByUsersChart'));
                chart.draw(dataTable, options);
            });
                }
    </script>
}

<h1>Список користувачів</h1>

<p>
    <a asp-action="Create">Створити нового</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ім'я акаунту
            </th>
            <th>
                Ім'я
            </th>
            <th>
                Прізвище
            </th>
            <th>
                Дата народження
            </th>
            <th>
                Електронна пошта
            </th>
            <th>
                Пароль
            </th>
            <th>
                Дата рестрації
            </th>
            <th>
                Номер телефону
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRegistration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Обрати</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
