@model MarketplaceWebApplication.Data.Offer
@using Microsoft.AspNetCore.Http
@using MarketplaceWebApplication.Extensions
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Деталі";
    var userInfo = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetails>("UserDetails");
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    @if (Model.Photo != null && Model.Photo.Length > 0)
                    {
                        string base64String = Convert.ToBase64String(Model.Photo);
                        <img src="data:image;base64,@base64String" alt="Photo" style="width:200px; height:auto;" class="img-fluid rounded-start" />
                    }
                    else{
                        <div class="card-img-top" style="background-color: #f0f0f0; height: 200px;"></div>
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                        <p class="card-text">Ціна: @Html.DisplayFor(model => model.Price) грн</p>
                        <p class="card-text">Опис: @Html.DisplayFor(model => model.Description)</p>
                        <p class="card-text">Кількість товару: @Html.DisplayFor(model => model.ItemAmount)</p>
                        <p class="card-text">Категорія: @Html.DisplayFor(model => model.Category.Name)</p>
                        <p class="card-text">Продавець: @Html.DisplayFor(model => model.Seller.Username)</p>
                        <p class="card-text"><small class="text-body-secondary">Створено @Html.DisplayFor(model => model.TimeAdded) </small></p>
                        @if (userInfo is not null && Model.SellerId != userInfo.Id)
                        {
                            <a asp-controller="Orders" asp-action="Create" asp-route-id="@userInfo.Id" class="btn btn-primary" style="margin: 5px;">Замовити</a>
                        }
                        @if (userInfo is not null && Model.SellerId == userInfo.Id)
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="margin: 5px;">Редагувати</a>
                        }
                        <a asp-action="MainPageView" class="btn btn-primary" style="margin: 5px;">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
