@model MarketplaceWebApplication.Data.Offer
@using Microsoft.AspNetCore.Http
@using MarketplaceWebApplication.Extensions
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Деталі";
    var userInfo = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<UserDetails>("UserDetails");
}

<div class="container-fluid">
    <div class="row justify-content-center align-items-center" style="height: 100vh;">
        <div class="card" style="width: 80%;">
            <div class="row g-0">
                <div class="col-md-4">
                    @if (Model.Photo != null && Model.Photo.Length > 0)
                    {
                        string base64String = Convert.ToBase64String(Model.Photo);
                        <img src="data:image;base64,@base64String" alt="Photo" style="width:auto; height:auto;" class="img-fluid rounded-start" />
                    }
                    else{
                        <div class="card-img-top" style="background-color: #f0f0f0; height: 200px;"></div>
                    }
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(model => model.Price) грн</p>
                        <p class="card-text">Доступно @Html.DisplayFor(model => model.ItemAmount) шт.</p>
                        <p class="card-text">
                            <a href="@Url.Action("Details", "Users",
                            new { id = Model.SellerId })"> @Html.DisplayFor(model => model.Seller.Username) </a>
                        </p>
                        <p class="card-text">Опис: </p>
                        <p class="card-text">@Html.DisplayFor(model => model.Description) </p>
                        <div style="display: inline-block; background-color: #e5e5e5; padding: 5px 10px; border-radius: 5px;">
                            <p class="card-text">@Html.DisplayFor(model => model.Category.Name)</p>
                        </div>
                        <p class="card-text"><small class="text-body-secondary">Створено @Model.TimeAdded.Date.ToString("dd.MM.yyyy") </small></p>
                        @if (userInfo is not null && Model.SellerId != userInfo.Id)
                        {
                            <a asp-controller="Orders" asp-action="Create" asp-route-id="@userInfo.Id" class="btn btn-primary" style="margin: 5px;">Замовити</a>
                            <a asp-controller="Users" asp-action="Details" asp-route-id="@Model.SellerId" class="btn btn-primary" style="margin: 5px;">Дані про продавця</a>
                        }
                        @if (userInfo is not null && Model.SellerId == userInfo.Id)
                        {
                            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary" style="margin: 5px;">Редагувати</a>
                        }
                        <a asp-action="MainPageView" class="btn btn-primary" style="margin: 5px;">Назад</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
